# CircleCI 2.0 configuration file using base image
# Check https://circleci.com/docs/2.0/circleci-images/#circleci-base-image for more details
version: 2.1
jobs:
  deploy:
    docker:
      - image: cimg/base:2020.01

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install CF CLI
          command: |
            mkdir -p $HOME/bin
            export PATH=$HOME/bin:$PATH
            curl -L "https://cli.run.pivotal.io/stable?release=linux64-binary&version=7.1.0" | tar xzv -C $HOME/bin

      - deploy:
          name: Deploy Proxy
          command: |
            export PATH=$HOME/bin:$PATH
            ./bin/cf_deploy.sh proxy fec-beta-fec $CIRCLE_BRANCH

workflows:
  version: 2.1
  build-deploy:
    jobs:
      - deploy
